@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.ui.modal>.content>.description {
  margin: 0px;
}

.login-page {
  width: 340px; 
  height: 100%;
  margin: 0px;
}

body {
  font-size: 14px;
}

.about-paragraph{
  margin: 0px;
  height: 100%;
  width: 100%;

}
.let-us-know{
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.email-us{
  font-size: 20px;
  margin-bottom: 10px;
}
