#navbar-background {
  background-color: #3b945e;
  border-radius: 0px;
  height: 80px;
}

.navbar-content {
  width: 100%;
}

.logo {
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  margin-left: 10px;
}

.font-one {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-shadow: -0.5px -0.5px 0 rgb(172, 172, 172),
    0.5px -0.5px 0 rgb(172, 172, 172), -0.5px 0.5px 0 rgb(172, 172, 172),
    0.5px 0.5px 0 rgb(172, 172, 172);
}

.font-two {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-shadow: -0.5px -0.5px 0 rgb(172, 172, 172),
    0.5px -0.5px 0 rgb(172, 172, 172), -0.5px 0.5px 0 rgb(172, 172, 172),
    0.5px 0.5px 0 rgb(172, 172, 172);
}

.logo:hover {
  color: green;
}

#about-us {
  font-size: 18px;
}

#shopping-icon {
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
}

@media (max-width: 40em) {




}