
#navbar-background{
    background-color: #3B945E;
    border-radius: 0px;
    height: 80px;
}

.navbar-content{
    
}

.logo{
    font-family: 'Abril Fatface', cursive;
    font-size:30px;
    font-weight:bold;
    color:black;
    margin-top: 1rem;
}

.logo:hover{
    color:green;
}

#about-us{
    font-size: 18px;
}

#shopping-icon{
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}




