.cart-entry{
    display: flex;
}


.img-box{
    width: 130px;
}

.image{
    width: 80%;
    height: auto;
}

.content-box{
    height:  auto;
}

.total-container{
    height: auto;
    font-weight: 900;
}