.cart-entry{
    display: flex;
}


.img-box{
    width: 130px;
}

.image{
    width: 80%;
    height: 80%;
}

.content-box{
    height:  auto;
    width: 70%;
}

.total-container{
    height: auto;
    font-size: 22px;
    font-weight: 900;
}

.checkout-button{
    background-color: #4CAF50;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 18px;
  
}

#shopping-icon{
    margin-right: 4px;
}
#cart-button{
    cursor: pointer;
    border: solid 1px;

}


#cart-button:hover{
    color: green;

}