.card {
  background: #3b945f;
  min-height: 100px;
  margin: 6px;
  margin-top: 20px;
  /* position: relative; */
  width: 230px;
  color: black;
  align-self: center;
  transition: 0.3s;
  object-fit:scale-down;

}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  height: 160px;
  width: 100%;
  transition: 0.3s;
}

.card > .img-container > img:hover {
  transform: scale(1.1);
}

.card > .content {
  text-align: center;
}

p {
  font-family: 'Song Myung', serif;
  font-size: 20px;
  margin: 1px;
}

.payment-card{
  background: #3b945f;
  min-height: 320px;
  margin: 6px;
  margin-top: 20px;
  /* position: relative; */
  width: 230px;
  color: black;
  align-self: center;
  transition: 0.3s;
  object-fit:scale-down;
  
}