.card {
  background: #3b945e;
  min-height: 230px;
  margin: 6px;
  margin-top: 20px;
  /* position: relative; */
  width: 200px;
  color: black;
  align-self: center;
  transition: 0.3s;
  object-fit:scale-down;

}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  height: 140px;
  width: 100%;
  transition: 0.3s;
}

.card > .img-container > img:hover {
  transform: scale(1.1);
}

.card > .content {
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  margin: 1px;
}
